@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #0D0D0D;
  color: white;
  font-family: "Raleway", sans-serif;
}

.dashtable{

}

.dashtable tbody tr td,
.dashtable thead tr th{
  @apply px-2 py-2;
  border: 1px solid rgba(255,255,255,0.4);
  min-width: 150px;
  max-width: 300px;
}